//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 21 09:39:15 2019
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "switches<0>" LOCATE = SITE "P121" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "P120" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "P118" LEVEL 1;
COMP "switches<4>" LOCATE = SITE "P117" LEVEL 1;
COMP "switches<5>" LOCATE = SITE "P116" LEVEL 1;
COMP "switches<6>" LOCATE = SITE "P115" LEVEL 1;
COMP "switches<7>" LOCATE = SITE "P114" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "LEDs<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "LEDs<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "LEDs<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "LEDs<7>" LOCATE = SITE "P123" LEVEL 1;
TIMEGRP CLK = BEL "Inst2_counter30/count_buff_0" BEL
        "Inst2_counter30/count_buff_1" BEL "Inst2_counter30/count_buff_2" BEL
        "Inst2_counter30/count_buff_3" BEL "Inst2_counter30/count_buff_4" BEL
        "Inst2_counter30/count_buff_5" BEL "Inst2_counter30/count_buff_6" BEL
        "Inst2_counter30/count_buff_7" BEL "Inst2_counter30/count_buff_8" BEL
        "Inst2_counter30/count_buff_9" BEL "Inst2_counter30/count_buff_10" BEL
        "Inst2_counter30/count_buff_11" BEL "Inst2_counter30/count_buff_12"
        BEL "Inst2_counter30/count_buff_13" BEL
        "Inst2_counter30/count_buff_14" BEL "Inst2_counter30/count_buff_15"
        BEL "Inst2_counter30/count_buff_16" BEL
        "Inst2_counter30/count_buff_17" BEL "Inst2_counter30/count_buff_18"
        BEL "Inst2_counter30/count_buff_19" BEL
        "Inst2_counter30/count_buff_20" BEL "Inst2_counter30/count_buff_21"
        BEL "Inst2_counter30/count_buff_22" BEL
        "Inst2_counter30/count_buff_23" BEL "Inst2_counter30/count_buff_24"
        BEL "Inst2_counter30/count_buff_25" BEL
        "Inst2_counter30/count_buff_26" BEL "Inst2_counter30/count_buff_27"
        BEL "Inst2_counter30/count_buff_28" BEL
        "Inst2_counter30/count_buff_29" BEL "Inst_counter30/count_buff_0" BEL
        "Inst_counter30/count_buff_1" BEL "Inst_counter30/count_buff_2" BEL
        "Inst_counter30/count_buff_3" BEL "Inst_counter30/count_buff_4" BEL
        "Inst_counter30/count_buff_5" BEL "Inst_counter30/count_buff_6" BEL
        "Inst_counter30/count_buff_7" BEL "Inst_counter30/count_buff_8" BEL
        "Inst_counter30/count_buff_9" BEL "Inst_counter30/count_buff_10" BEL
        "Inst_counter30/count_buff_11" BEL "Inst_counter30/count_buff_12" BEL
        "Inst_counter30/count_buff_13" BEL "Inst_counter30/count_buff_14" BEL
        "Inst_counter30/count_buff_15" BEL "Inst_counter30/count_buff_16" BEL
        "Inst_counter30/count_buff_17" BEL "Inst_counter30/count_buff_18" BEL
        "Inst_counter30/count_buff_19" BEL "Inst_counter30/count_buff_20" BEL
        "Inst_counter30/count_buff_21" BEL "Inst_counter30/count_buff_22" BEL
        "Inst_counter30/count_buff_23" BEL "Inst_counter30/count_buff_24" BEL
        "Inst_counter30/count_buff_25" BEL "Inst_counter30/count_buff_26" BEL
        "Inst_counter30/count_buff_27" BEL "Inst_counter30/count_buff_28" BEL
        "Inst_counter30/count_buff_29" BEL "CLK_BUFGP/BUFG";
NET "CLK_BUFGP/IBUFG" PERIOD = 31.25 ns HIGH 50%;
TS_clk = PERIOD TIMEGRP "CLK" 4 ns HIGH 50%;
SCHEMATIC END;

