//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 26 17:45:07 2019
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "o_OUT_B<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "o_OUT_B<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "i_WRITE_ENABLE" LOCATE = SITE "P114" LEVEL 1;
COMP "i_ADDRESS_A<0>" LOCATE = SITE "P119" LEVEL 1;
COMP "i_ADDRESS_A<1>" LOCATE = SITE "P118" LEVEL 1;
COMP "i_ADDRESS_B<0>" LOCATE = SITE "P121" LEVEL 1;
COMP "i_ADDRESS_B<1>" LOCATE = SITE "P120" LEVEL 1;
COMP "i_WRITE_ADDRESS<0>" LOCATE = SITE "P115" LEVEL 1;
COMP "i_CLK" LOCATE = SITE "P94" LEVEL 1;
COMP "i_DATA_IN<0>" LOCATE = SITE "P117" LEVEL 1;
COMP "i_DATA_IN<1>" LOCATE = SITE "P116" LEVEL 1;
COMP "o_OUT_A<0>" LOCATE = SITE "P127" LEVEL 1;
COMP "o_OUT_A<1>" LOCATE = SITE "P126" LEVEL 1;
COMP "o_OUT_A<2>" LOCATE = SITE "P124" LEVEL 1;
COMP "o_OUT_A<3>" LOCATE = SITE "P123" LEVEL 1;
COMP "o_OUT_B<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "o_OUT_B<1>" LOCATE = SITE "P133" LEVEL 1;
NET "i_CLK_BUFGP/IBUFG" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

